$darkblue: #2d55aa;
$blue:#3461c1;
$lightblue: #4579E2;
$royalblue: #0496FF;
$orange: #F26522;
$lightorange: #FF6B23;
$darkgrey: #2D2D2D;
$grey: #dcdcdc;
$red: #FF5A5F;
$yellow: #FDB631;
$green: #32B796;
$gray: #808080;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$purple: #6f7ee7;
